---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <p>
      Hi \^o^/<br /> i am an architect mostly working in urban planning.
    </p>
    <p>
      here you can find my ramblings about architecture, data visualisation and
      gis.
    </p>

    <p>you can email me at radio [at] my domain.</p>
  </main>
</Layout>
