---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <p>Hi \^o^/</p><p>
      i am an architect, who mostly makes petit drawings and sometimes talks
      about maps, data and design.
    </p>
  </main>
</Layout>
